* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: monospace;
}

body {
  background-color: rgb(85, 85, 85);
  background-image: url(images/rainglass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  position: fixed;
  top: 5%;
  left: 50px;
  height: 90%;
  width: 100px;
  border-radius: 10px;
  background-color: rgba(59, 59, 59, 0.773);
}
.menu:hover {
  background-color: rgb(59, 59, 59);
}
.menu__short {
  height: 100%;
}
.menu__short__upper {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu__short__upper__img {
  background-image: url(images/users/NoFoto.jpg);
  background-size: contain;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.menu__short__upper__img__hovertext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  border: solid white 1px;
  top: 80px;
  left: -1px;
  z-index: 1;
}
.menu__short__upper__img:hover {
  background-image: url(images/users/logout.jpg);
}
.menu__short__upper__img:hover .menu__short__upper__img__hovertext {
  visibility: visible;
}
.menu__short__upper > img {
  border-radius: 50%;
}
.menu__short__upper > hr {
  width: 90%;
  background-color: antiquewhite;
  height: 2px;
  margin-top: 15px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}
.menu__short__middle {
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu__short__middle > i {
  color: antiquewhite;
}
.menu__short__middle > i:hover {
  scale: 1.1;
  cursor: pointer;
}
.menu__short__lower {
  width: 100px;
  height: 130px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__short__lower > hr {
  width: 90%;
  background-color: antiquewhite;
  height: 2px;
  margin-top: 20px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}
.menu__short__lower > i {
  color: antiquewhite;
  margin-top: 15px;
}

.main {
  width: 1000px;
  padding-top: 2%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.47);
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
.main__weather-box {
  margin: 16.6px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-image: url(images/backgrounds/cloud-blue-sky.jpg);
}
.main__weather-box__today-info {
  display: grid;
  width: calc(100% - 2px);
  height: 320px;
  border: 2px solid rgb(22, 37, 54);
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.4fr 2px 0.8fr 1fr 2px 1.8fr;
  gap: 0px 0px;
  gap: 0px 0px;
  grid-template-areas: "cityname cityname cityname cityname cityname cityname" "date date date date date date" "hr1 hr1 hr1 hr1 hr1 hr1" "actualTemperature actualTemperature actualTemperature actualTemperature actualTemperature actualTemperature" "rain rain rain wind wind wind" "hr2 hr2 hr2 hr2 hr2 hr2" "hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather hourlyWeather";
}
.main__weather-box__today-info__cityName {
  grid-area: cityname;
  font-size: 30px;
  color: rgb(22, 37, 54);
  margin: auto;
  margin-top: 18px;
}
.main__weather-box__today-info__date {
  top: 0;
  grid-area: date;
  width: 100%;
  text-align: center;
  color: rgb(22, 37, 54);
}
.main__weather-box__today-info__hr1 {
  grid-area: hr1;
  bottom: 0;
  background-color: antiquewhite;
  width: 270px;
  margin-left: 15px;
  height: 2px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}
.main__weather-box__today-info__actualTemperature {
  grid-area: actualTemperature;
  margin: 20px auto auto;
  font-size: 34px;
  color: rgb(22, 37, 54);
}
.main__weather-box__today-info__rain {
  grid-area: rain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(22, 37, 54);
}
.main__weather-box__today-info__rain > p {
  font-size: 20px;
}
.main__weather-box__today-info__wind {
  grid-area: wind;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(22, 37, 54);
}
.main__weather-box__today-info__wind > p {
  font-size: 20px;
}
.main__weather-box__today-info__hr2 {
  grid-area: hr2;
  background-color: antiquewhite;
  width: 270px;
  margin-left: 15px;
  height: 2px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}
.main__weather-box__today-info__hourlyWeather {
  width: 100%;
  grid-area: hourlyWeather;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
}
.main__weather-box__today-info__hourlyWeather__legend {
  color: rgb(22, 37, 54);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 8%;
  height: 80%;
  background-color: rgba(57, 58, 73, 0.414);
  border-radius: 5px;
}
.main__weather-box__today-info__hourlyWeather__legend > hr {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}
.main__weather-box__today-info__hourlyWeather__hourbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 17%;
  height: 80%;
  background-color: rgba(57, 58, 73, 0.414);
  border-radius: 5px;
}
.main__weather-box__today-info__hourlyWeather__hourbox > p {
  font-size: 16px;
  color: rgb(22, 37, 54);
}
.main__weather-box__today-info__hourlyWeather__hourbox > hr {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}
.main__weather-box__nextdays-info {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
}
.main__weather-box__nextdays-info__dayinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 80%;
  background-color: rgba(57, 58, 73, 0.414);
  border-radius: 5px;
}
.main__weather-box__nextdays-info__dayinfo > p {
  font-size: 16px;
  color: rgb(22, 37, 54);
}
.main__weather-box__nextdays-info__dayinfo > hr {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, antiquewhite, transparent);
}

.add-city-blackground {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.685);
  height: 100%;
  width: 100%;
  display: block;
}

.add-city {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 300px;
  height: 450px;
  background-color: rgb(59, 59, 59);
}
.add-city__cityname {
  border: solid rgb(121, 120, 120) 2px;
  width: calc(100% - 4px);
  padding: 15px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.add-city__cityname label {
  color: antiquewhite;
  font-size: 22px;
  text-align: center;
}
.add-city__cityname input {
  margin: 0;
  color: antiquewhite;
  height: 40px;
  width: 80%;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  border: 2px solid rgb(121, 120, 120);
  background-color: rgb(59, 59, 59);
}
.add-city__cityname input:focus {
  outline: 2px solid rgb(121, 120, 120);
}
.add-city__cityname__submit {
  cursor: pointer;
  color: rgb(59, 59, 59) !important;
  margin-top: 20px;
  height: 40px;
  width: calc(80% + 20px) !important;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  background-color: rgb(121, 120, 120) !important;
  text-transform: uppercase;
}
.add-city__cityname__submit:hover {
  font-size: 20px;
  scale: 0.95;
}
.add-city__cityname__submit:active {
  font-size: 18px;
}
.add-city__cityname__submit:focus {
  outline: none !important;
}
.add-city__result {
  gap: 5px;
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-city__result label {
  color: antiquewhite;
  font-size: 18px;
  text-align: center;
}
.add-city__result output {
  margin: 0;
  text-align: center;
  height: 24px;
  color: rgb(121, 120, 120);
  border: solid 2px rgb(121, 120, 120);
  width: 80%;
  font-size: 18px;
}
.add-city__result__submit {
  color: rgb(59, 59, 59);
  margin-top: 10px;
  height: 40px;
  width: calc(80% + 20px) !important;
  font-size: 18px;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  background-color: rgba(121, 120, 120, 0.514);
  text-transform: uppercase;
}
.add-city__result__submit:active {
  font-size: 18px;
}
.add-city__result__submit:focus {
  outline: none !important;
}

@media (max-width: 1400px) {
  .main {
    width: 667px;
  }
  .menu {
    left: 20px;
  }
}
@media (max-width: 940px) {
  .main {
    width: 334px;
  }
  .menu {
    left: 20px;
  }
}/*# sourceMappingURL=weather.css.map */